<mat-card id="aboutMusicMap">
  <mat-card-header>Music Map</mat-card-header>

  <mat-card>
    <mat-card-title> Background </mat-card-title>
    <mat-card-content>
      Music is bound to space and time, i.e. it is played, sung, created, heard,
      practiced, imparted, taught etc. at a certain place at a certain time.
      Within the framework of the Salzburg Music Map, an extensive data
      collection on the spatio-temporal distribution of music and musical
      practices in the city of Salzburg (and the province of Salzburg) is to be
      created and visualized with the help of an interactive (GIS)-application.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title> Results </mat-card-title>
    <mat-card-content>
      The goal is a freely accessible web application based on open-source
      technologies, in which the production, mediation and reception of
      different musical genres can be experienced interactively at different
      times, in different forms and in different places. The project is part of
      the Wissenschaft & Kunst (science and art) cooperation between Mozarteum
      and University of Salzburg.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title> Methods </mat-card-title>
    <mat-card-content>
      With the cartographic representation it is possible to move virtually
      through space and time, to discover spatial hot spots, but also white
      spots on the music map or to juxtapose times of silence with times of
      intensive music production. By integrating further data on the
      socio-economic structuring of spaces, such as socio-economic
      characteristics of the population, residential density or mobility data,
      the Salzburg Music Map goes far beyond a purely descriptive function and
      offers scientific analysis possibilities.
    </mat-card-content>
  </mat-card>
</mat-card>
